<script setup>
import { ref } from 'vue';
import axios from 'axios';

const formData = ref({
 password: '88888888',
 name: 'Ultimate Crystal Rainbow Dragon Overdrive888',
 attribute: 'LIGHT',
 level: '12',
 atk: '12',
 def: '1',
 url: 'https://ms.yugipedia.com//thumb/b/b0/UltimateCrystalRainbowDragonOverdrive-SDCB-EN-UR-1E.png/410px-UltimateCrystalRainbowDragonOverdrive-SDCB-EN-UR-1E.png'
});
const message = ref('');
const error = ref('');

const submitForm = async () => {
 try {
    const response = await axios.post('http://localhost:5000/api/data', formData.value);
    message.value = response.data.message;
    error.value = '';
 } catch (err) {
    error.value = err.response ? err.response.data.error : 'An error occurred';
    message.value = '';
 }
};
</script>

<template>
  <h1>Hello</h1>
 <div>
    <h2>Create New Data</h2>
    <form @submit.prevent="submitForm">
      <div>
        <label for="password">Password:</label>
        <input type="text" id="password" v-model="formData.password" required>
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" v-model="formData.name" required>
      </div>
      <div>
        <label for="attribute">Attribute:</label>
        <input type="text" id="attribute" v-model="formData.attribute" required>
      </div>
      <div>
        <label for="level">Level:</label>
        <input type="text" id="level" v-model="formData.level" required>
      </div>
      <div>
        <label for="atk">ATK:</label>
        <input type="text" id="atk" v-model="formData.atk" required>
      </div>
      <div>
        <label for="def">DEF:</label>
        <input type="text" id="def" v-model="formData.def" required>
      </div>
      <div>
        <label for="url">URL:</label>
        <input type="text" id="url" v-model="formData.url" required>
      </div>
      <button type="submit">Submit</button>
    </form>
    <div v-if="message">{{ message }}</div>
    <div v-if="error">{{ error }}</div>
 </div>
</template>
