<script setup>
    import { ref } from 'vue';
    import axios from 'axios';

    const password = ref('');
    const message = ref('');
    const error = ref('');

    const deleteRecord = async () => {
    try {
        const response = await axios.delete(`http://localhost:5000/api/data/${password.value}`);
        message.value = response.data.message;
        error.value = '';
    } catch (err) {
        error.value = err.response ? err.response.data.error : 'An error occurred';
        message.value = '';
    }
    };
</script>

<template>
    <div>
       <h2>Delete Data</h2>
       <form @submit.prevent="deleteRecord">
         <div>
           <label for="password">Password:</label>
           <input type="text" id="password" v-model="password" required>
         </div>
         <button type="submit">Delete</button>
       </form>
       <div v-if="message">{{ message }}</div>
       <div v-if="error">{{ error }}</div>
    </div>
</template>
   

   