<script setup>
import { ref, onMounted } from 'vue';
import { useAuthStore } from '../../stores/auth.js';
// import router from '@/router';
import { useRouter } from 'vue-router'; // Import useRouter
const router = useRouter();

const authStore = useAuthStore();

const item = ref([]);
const id = ref(''); // Add a ref for the ID
const image_url = ref('');
const title = ref(["Password", "Name", "Attribute", "Level", "Atk", "Def", "URL", "Price", "Remain"]);
const perchase = ref();

// Add a ref for the tooltip visibility
const showTooltip = ref(false);

import { useAddToCart } from '../Cart/AddCart.js'; // Ensure the path is correct
const { error, message, addToCart } = useAddToCart();

function fetchData() {
 // Check if the ID is empty
 if (id.value.trim() === '' || isNaN(Number(id.value))) {
    showTooltip.value = true; // Show the tooltip
    setTimeout(() => {
      showTooltip.value = false; // Hide the tooltip after a short delay
    }, 3000);
    return; // Exit the function if the ID is empty
 }

 const apiUrl = import.meta.env.VITE_API_URL;
 const url = `${apiUrl}/api/data/${id.value}`;

 fetch(url)
//  fetch(`http://localhost:5000/api/data/${id.value}`)
    .then(response => response.json())
    .then(data => {
      item.value = data; // Assign the fetched data to item
      image_url.value = data[0][6];
    })
    .catch(error => {
      console.error('Error:', error);
    });
}

function reset(){
 item.value = []; // Reset item to an empty array
 id.value = "";
 image_url.value = "";
}
// username, password, number, remain, price
function addCart(){
  if(authStore.isLoggedIn === false){
    console.log("Do not LoggedIn!");
    router.push('/login'); 
  }
  else{
    if(perchase.value>item.value[0][8]){
      showTooltip.value = true; // Show the tooltip
      setTimeout(() => {
        showTooltip.value = false; // Hide the tooltip after a short delay
      }, 3000);
      return; // Exit the function if the ID is empty
    }
    else{
      // addToCart();
      // console.log(authStore.user);
      // console.log(id);
      // console.log(perchase);
      // console.log(item.value[0][8]);
      // console.log(item.value[0][7]);
      // addToCart({ username: username, password: password, number: number, remain: remain, price: price })
      addToCart({ username: authStore.user, password: id.value, number: perchase.value, remain: item.value[0][8], price: item.value[0][7] })
      // console.log("Success");
    }
  }
}

</script>

<template>
 <input type="text" v-model="id" placeholder="Enter Card password">
 <button @click="fetchData">Fetch Data</button>
 <button @click="reset">Reset</button>
 <div v-if="item.length" >
    <table>
      <thead>
        <tr>
          <th v-for="(titleItem, index) in title" :key="index">
            {{ titleItem }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(subItem, index) in item" :key="index">
          <td v-for="(value, subIndex) in subItem" :key="subIndex">
            {{ value }}
          </td>
        </tr>
      </tbody>
    </table>
 </div>
 <img :src="image_url">
 <!-- Add the tooltip -->
 <div v-if="showTooltip" class="tooltip">Please enter an ID or correct numbers.</div>

 <input v-if="item.length" type="number" v-model="perchase" placeholder="Enter numbers:">
 <button v-if="item.length" @click="addCart()">Add to Cart</button>
 <!-- <button>buttbon</button> -->
 <!-- <button v-if="item.length" @click="addCart(authStore.user, item[0][0] , perchase, item[0][8], item[0][7])">Add to Cart</button> -->
</template>

<style>
.tooltip {
 position: absolute;
 bottom: 20px;
 left: 50%;
 transform: translateX(-50%);
 padding: 10px;
 background-color: #f9ed69;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
 }
  40% {
    transform: translateY(-30px);
 }
  60% {
    transform: translateY(-15px);
 }
}
</style>
