<script setup>
import OverviewCard from '../components/OverviewCard.vue'
import {ref, reactive} from "vue";

// const count = ref(0);
// const callback = res =>{
//   count.value = res;
// }

const count = ref("default");
const callback = res =>{
  count.value = res;
}
</script>

<template>
  <main>
    <OverviewCard @ImageName="callback"/>
    <h1>{{ count }}</h1>
  </main>
</template>
