<script setup>
import {NSpace, NLayout} from 'naive-ui';
import Card from '../components/Card.vue'
import {ref, reactive} from "vue";
// console.log("In the OneCardView")
const props = defineProps({
  id:String,
});
</script>

<template>  
  <n-space justify="space-between">
    <Card :id="id" />
  </n-space>
</template>
