<script setup>
import Profile from '../components/Profile.vue';
import Cart from '../components/Cart.vue';
import Purchase from '../components/Profile.vue';
import { ref, onMounted } from 'vue';
// Reactive state
const selectedComponent = ref(Profile);

</script>

<template>
  <div class="app">
      <nav class="sidebar">
        <ul>
          <li @click="selectedComponent=Profile">User Profile</li>
          <li @click="selectedComponent=Cart">Cart</li>
          <li @click="selectedComponent=Purchase">Purchase</li>
        </ul>
      </nav>
      <div class="content">
        <component :is="selectedComponent"></component>
      </div>
  </div>
</template>
  
<style scoped>
.app{
 display: flex;
 flex-direction: row;
 height: 100vh;
 width: 100%;
}

.sidebar {
 width: 200px; /* Fixed width for the sidebar */
 background-color: #f5f5f5;
 padding: 20px;
}

.sidebar ul {
list-style-type: none;
padding: 0;
}

.sidebar li {
cursor: pointer;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.sidebar li:hover {
background-color: #ddd;
}

.content {
 flex-grow: 1;
 padding: 20px;
 height: 100%;
 width: 800px;
 /* width: calc(100% - 200px); Adjust the width of the content to fill the remaining space */
}
</style>
