<script setup>
import {ref, reactive} from "vue";
import {NTable} from 'naive-ui';
import { RouterLink, RouterView } from 'vue-router';

const cards = reactive([
 {
    Name: "ltimate Gem God Rainbow Dragon Over",
    Attribute: "LIGHT",
    Level: 12,
    ATK: 4000,
    DEF: 0,
    UR: "../UltimateCrystalRainbowDragonOverdrive.png",
 },
 {
    Name: "Rainbow Overdragon",
    Attribute: "LIGHT",
    Level: 12,
    ATK: 4000,
    DEF: 0,
    UR: "../RainbowOverdragon.png",
 },
 {
    Name: "Crystal Beast Ruby Carbuncle",
    Attribute: "LIGHT",
    Level: 3,
    ATK: 300,
    DEF: 300,
    UR: "../CrystalBeastRuby.png",
 },
 {
    Name: "Crystal Beast Amber Mammoth",
    Attribute: "EARTH",
    Level: 4,
    ATK: 1700,
    DEF: 1600,
    UR: "../CrystalBeastAmberMammoth.png",
 },
 {
    Name: "Crystal Beast Topaz Tiger",
    Attribute: "EARTH",
    Level: 4,
    ATK: 1600,
    DEF: 1000,
    UR: "../CrystalBeastTopazTiger.png",
 },
 {
    Name: "Crystal Beast Emerald Tortoise",
    Attribute: "WATER",
    Level: 3,
    ATK: 600,
    DEF: 2000,
    UR: "../CrystalBeastEmeraldTortoise.png",
 },
 {
    Name: "Crystal Beast Cobalt Eagle",
    Attribute: "WIND",
    Level: 4,
    ATK: 1400,
    DEF: 800,
    UR: "../CrystalBeastCobaltEagle.png",
 },
 {
    Name: "Crystal Beast Sapphire Pegasus",
    Attribute: "WIND",
    Level: 4,
    ATK: 1800,
    DEF: 1400,
    UR: "../CrystalBeastSapphirePegasus.png",
 },
 {
    Name: "Crystal Beast Amethyst Cat",
    Attribute: "EARTH",
    Level: 3,
    ATK: 1200,
    DEF: 400,
    UR: "../CrystalBeastAmethystCat.png",
 },
]);

const props = defineProps({
  id:String,
});

const currentCardIndex = ref(0);
currentCardIndex.value = Number(props.id);

// Method to toggle the current card between all cards
const toggleCard = () => {
 currentCardIndex.value = (currentCardIndex.value + 1) % cards.length;
};
</script>

<template>
 <div class="card-container">
    <!-- <h1>{{ cards[props.id].Name }}</h1> -->
    <h1>{{ cards[currentCardIndex].Name }}</h1>
    
    <img :src="cards[currentCardIndex].UR" alt="Card Image" class="card-image">

    <n-table :bordered="false" :single-line="true">
      <thead>
        <tr>
          <th>Attribute </th>
          <th>Level</th>
          <th>ATK</th>
          <th>DEF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cards[currentCardIndex].Attribute }}</td>
          <td>{{ cards[currentCardIndex].Level }}</td>
          <td>{{ cards[currentCardIndex].ATK }}</td>
          <td>{{ cards[currentCardIndex].DEF }}</td>
        </tr>
      </tbody>
    </n-table>
    <button @click="toggleCard">Change to next card</button>
    <RouterLink to="/">Home</RouterLink>
 </div>
</template>

<style scoped>
.card-container {
 width: 300px; /* Fixed width */
 height: 900px; /* Fixed height */
 overflow: auto; /* Add scrollbars if content overflows */
 padding: 10px; /* Optional: Add some padding inside the container */
}

.card-image {
 width: 100%; /* Adjust the width as needed */
 height: auto; /* Maintain the aspect ratio */
}
</style>

