<script setup>
import { ref, onMounted } from 'vue';
import {useAddToCart} from './Cart/AddCart.js'; // Ensure the path is correct
import {useFetchCartData} from './Cart/ReadCart.js'; // Ensure the path is correct
import { useDeleteCartItem, useDeleteAllCart } from './Cart/DeleteCart.js';
import { useFetchData } from './Card/ReadCard.js'; // Ensure the path is correct
import { useAuthStore } from '../stores/auth.js';

const authStore = useAuthStore();
const deleteId = ref();

// const { error, message, addToCart } = useAddToCart();

const{ cartData, error, fetchCartData } = useFetchCartData();
const{ errorD, messageD, deleteCartItem } = useDeleteCartItem();
const{ errorDA, messageDA, deleteAllCartItem } = useDeleteAllCart();
const{ card_data, card_error, fetchData } = useFetchData();

function deleted(id){
  deleteCartItem(id);
  fetchCartData(authStore.user);
}

function deletedAll(){
  deleteAllCartItem(authStore.user);
  fetchCartData(authStore.user);
}

onMounted(() => {
 fetchCartData(authStore.user);
});
</script>

<template>
    <h1>{{ cartData }}</h1>
    <button>Send out the Order</button>
    <input type="number" v-model="deleteId" placeholder="Enter Delete id">
    <button @click="deleted(deleteId)">Delete</button>
    <button @click="deletedAll">Delete all of the cart</button>
    <button @click="fetchData(88888888)">read card</button>
    <!-- <h1>Card: </h1> -->
    <h1>card is: {{ card_data }}</h1>
    <h1>{{ card_error }}</h1>
</template>
