<script setup>
import { ref } from 'vue';
import axios from 'axios';
import { useAuthStore } from '../stores/auth.js';

const authStore = useAuthStore()
const username = ref('')
const password = ref('')

function login() {
    authStore.login(username.value, password.value)
}

function logout() {
    authStore.logout()
}
</script>

<template>
    <div>
       <input v-model="username" placeholder="Username">
       <input v-model="password" placeholder="Password" type="password">
       <button @click="login">Login</button>
       <button @click="logout">Logout</button>
       <h1>{{ authStore.user }}</h1>
    </div>
</template>
