<script setup>
import {ref, reactive} from "vue";
import {NGrid, NGridItem} from 'naive-ui';
import { RouterLink, RouterView } from 'vue-router';

const emit = defineEmits(["AddInt", "ImageName"]);

const handleclick = () => {
   emit("AddInt", 11111);
}

const handleImageClick = (str) => {
 console.log('Image clicked');
 emit("ImageName", str);
 // Add your logic here, e.g., navigate to a different page or perform an action
};

const cards = reactive([
 {
    Name: "ltimate Gem God Rainbow Dragon Over",
    Attribute: "LIGHT",
    Level: 12,
    ATK: 4000,
    DEF: 0,
    UR: "UltimateCrystalRainbowDragonOverdrive.png",
 },
 {
    Name: "Rainbow Overdragon",
    Attribute: "LIGHT",
    Level: 12,
    ATK: 4000,
    DEF: 0,
    UR: "RainbowOverdragon.png",
 },
 {
    Name: "Crystal Beast Ruby Carbuncle",
    Attribute: "LIGHT",
    Level: 3,
    ATK: 300,
    DEF: 300,
    UR: "CrystalBeastRuby.png",
 },
 {
    Name: "Crystal Beast Amber Mammoth",
    Attribute: "EARTH",
    Level: 4,
    ATK: 1700,
    DEF: 1600,
    UR: "CrystalBeastAmberMammoth.png",
 },
 {
    Name: "Crystal Beast Topaz Tiger",
    Attribute: "EARTH",
    Level: 4,
    ATK: 1600,
    DEF: 1000,
    UR: "CrystalBeastTopazTiger.png",
 },
 {
    Name: "Crystal Beast Emerald Tortoise",
    Attribute: "WATER",
    Level: 3,
    ATK: 600,
    DEF: 2000,
    UR: "CrystalBeastEmeraldTortoise.png",
 },
 {
    Name: "Crystal Beast Cobalt Eagle",
    Attribute: "WIND",
    Level: 4,
    ATK: 1400,
    DEF: 800,
    UR: "CrystalBeastCobaltEagle.png",
 },
 {
    Name: "Crystal Beast Sapphire Pegasus",
    Attribute: "WIND",
    Level: 4,
    ATK: 1800,
    DEF: 1400,
    UR: "CrystalBeastSapphirePegasus.png",
 },
 {
    Name: "Crystal Beast Amethyst Cat",
    Attribute: "EARTH",
    Level: 3,
    ATK: 1200,
    DEF: 400,
    UR: "CrystalBeastAmethystCat.png",
 },
]);

const currentCardIndex = ref(0);

// Method to toggle the current card between all cards
const toggleCard = () => {
 currentCardIndex.value = (currentCardIndex.value + 1) % cards.length;
};




</script>


<template>
   <n-grid :x-gap="12" :y-gap="8" :cols="4">
     <n-grid-item>
      <RouterLink to="/card/0">
         <img :src="cards[0].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[0].Name)"></img>
      </RouterLink>
       <!-- <img :src="cards[0].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[0].Name)"></img> -->
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/1">
         <img :src="cards[1].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[1].Name)"></img>
      </RouterLink>
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/2">
         <img :src="cards[2].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[2].Name)"></img>
      </RouterLink>
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/3">
         <img :src="cards[3].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[3].Name)"></img>
      </RouterLink>
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/4">
         <img :src="cards[4].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[4].Name)"></img>
      </RouterLink>
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/5">
         <img :src="cards[5].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[5].Name)"></img>
      </RouterLink>
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/6">
         <img :src="cards[6].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[6].Name)"></img>
      </RouterLink>
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/7">
         <img :src="cards[7].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[7].Name)"></img>
      </RouterLink>
     </n-grid-item>
     <n-grid-item>
      <RouterLink to="/card/8">
         <img :src="cards[8].UR" alt="Card Image" class="card-image" @click="handleImageClick(cards[8].Name)"></img>
      </RouterLink>
     </n-grid-item>
   </n-grid>
   <!-- <RouterLink to="/">Home</RouterLink> -->

 </template>
 
 <style scoped>
 .light-green {
   height: 108px;
   background-color: rgba(0, 128, 0, 0.12);
 }
 .green {
   height: 108px;
   background-color: rgba(0, 128, 0, 0.24);
 }
 .card-image {
 width: 100%; /* Adjust the width as needed */
 height: auto; /* Maintain the aspect ratio */
}
 </style>

