<script setup>
import { ref, onMounted } from 'vue';
import { useAuthStore } from '../stores/auth.js';
const authStore = useAuthStore();
const item = ref([]);

function fetchData() {
 console.log("fetching...");
 // Use the ID in the fetch request
 fetch(`http://localhost:5000/api/user/${authStore.user}`)
    .then(response => response.json())
    .then(data => {
      item.value = data; // Assign the fetched data to item
    })
    .catch(error => {
      console.error('Error:', error);
    });
}
onMounted(fetchData);
</script>

<template>
    <h1>Profile</h1>
    <!-- <button @click="fetchData">Read profile</button> -->
    <!-- <h1>{{ authStore.user }}</h1>
    <h1>{{ authStore.isLoggedIn }}</h1> -->
    <h1>{{ item }}</h1>
</template>