<!-- // MyComponent.vue -->

<script setup>
import { useFetchData } from './Card/ReadCard.js'; 
const{ card, error, fetchData } = useFetchData();
</script>


<template>
 <div>
    <button @click="fetchData(88888888)">read card</button>
    <!-- <h1>Card: </h1> -->
    <h1>card is: {{ card }}</h1>
    <h1>{{ error }}</h1>
 </div>
</template>

