<script setup>
import { RouterLink, RouterView } from 'vue-router'
import {NSpace, NLayout, NLayoutHeader, NButton} from 'naive-ui';
import HelloWorld from './components/HelloWorld.vue'
import Card from './components/Card.vue'
import OverviewCard from './components/OverviewCard.vue'
import CardView from './views/CardView.vue'
import {ref, reactive} from "vue";

</script>

<template>
  <n-space vertical>
    <n-layout>
      <n-layout-header>
        YOKIGU ASIA CARD CLUB
        <RouterLink to="/login">Login</RouterLink>
        <n-button>Logout</n-button>
        <RouterLink to="/profile">Client Center</RouterLink>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/card/0">SingleCard</RouterLink>
        <RouterLink to="/test">test</RouterLink>
      </n-layout-header>
      <n-layout>
        <!-- <CardView class="card-container" /> -->
        <RouterView class="card-container" />
      </n-layout>
    </n-layout>
  </n-space>
  <!-- <img :src="UR" alt="Card Image"> -->
  <!-- <RouterView /> -->

</template>

<style scoped>
.n-layout-header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: orange;
 /* Assuming the header height is 60px, adjust as necessary */
 height: 60px;
 z-index: 9999;
}

.card-container {
 /* Add a top margin or padding equal to the height of the header */
 margin-top: 60px; /* Adjust this value to match the height of your header */
}
</style>
